APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomKey!!!

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

SMS_GATEWAY_DRIVER=
SMS_GATEWAY_API_ID=
SMS_GATEWAY_USER=
SMS_GATEWAY_PASS=

OTP_LENTGH=6
OTP_ONLYNUMBERS=true

CACHE_DRIVER=memcached
QUEUE_DRIVER=database
